:root {
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;

    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    --roboto: 'Roboto', cursive;
  }
  
  .navbar-toggler:focus{
    outline: none;
  }
  
  .navbar-toggler{
    border: none;
  }


  
  /*Small devices (landscape phones, up to 576px)*/
  @media (max-width: 576px) { 
    .rezDlBtn{
      text-align: center;
    }

    /* PORTFOLIO PAGE */
    .projectOne{
      width: 75%;
    }
    .projectTwo{
      width: 75%;
    }
    .projectThree{
      width: 75%;
    }
    .projectRow{
      text-align: center;
    }
   }
  
 /*Medium devices (tablets, up to 768px)  */
  @media (max-width: 768px) {
    .cartoon-image{
      width: 75%;
    }
    .about-image{
      width: 75%;
    } 
    .aboutRow{
      display: flex;
      justify-content: center;
      padding-left: 15%;
    }
    .about-intro{
      display: flex;
      flex-direction:column;
      
    }
    .skillsOne{
      display:flex;
      justify-content: center;
    }
    .skillsTwo{
      display:flex;
      justify-content: center;
    }
    .skillsThree{
      display:flex;
      justify-content: center;
    }
    .skillsFour{
      display:flex;
      justify-content: center;    
    }
    .skillsFive{
      display:flex;
      justify-content: center;    
    }
    .skillsSix{
      display:flex;
      justify-content: center;    
    }
    .skillsSeven{
      display:flex;
      justify-content: center;    
    }
    .skillsEight{
      display:flex;
      justify-content: center;    
    }
    .skillsNine{
      display:flex;
      justify-content: center;    
    }
    /* PORTFOLIO PAGE */
    .projectRow{
      text-align: center;
    }
   }
  
   /* Large devices (desktops, up to 992px) */
  @media (max-width: 992px) { 

    /* HOME PAGE */
    .projectOne{
      text-align: center; 
    }
    .projectTwo{
        text-align: center; 
    }
    .projectThree{
      text-align: center; 
    }

    /* ABOUT PAGE */
    .headshot-image{
      width: 50%;
      margin-left: 3%;
    }
 
    .topRow{
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      
    }

    .headshot{
      margin-left: 50%;
    }

    .whereImFromRow{
     text-align: center;
    }

    .expressionRow{
      text-align: center;
    }
    .expressionText{
      margin-left: 10%;
    }
    .expression-image{
      width:50%; 
      text-align: center;
      margin-left: 23%;
    }
    .expression-container{
      display: flex;
      flex-direction: column-reverse;
    }
    .lambdaText{
      margin-left: 10%;
    }
    .bornText{
      margin-left: 10%;
    }
    .lambda{
      width: 50%;
    }
    .lambda-image{
      text-align: center;
    }
    .heyThere{
      text-align: center;
    }
    .bayB{
      width: 75%;  
  }
  
  .wc{
      width:75%;
  }

  /* PORTFOLIO PAGE */
  .projectRow{
    display: flex;
    justify-content: center;
  }

   }
  
  /* Extra large devices (large desktops, up to1200px) */
  @media (max-width: 1200px) { 

   }
  
  